[submodule "ahk/lib/HotGestures"]
	path = ahk/lib/HotGestures
	url = https://github.com/Tebayaki/HotGestures.git
[submodule "ahk/lib/acc"]
	path = ahk/lib/acc
	url = https://github.com/Descolada/Acc-v2.git
[submodule "mpv/libs/thumbfast-osc"]
	path = mpv/libs/thumbfast-osc
	url = https://github.com/po5/thumbfast.git
	branch = vanilla-osc
[submodule "mpv/libs/thumbfast"]
	path = mpv/libs/thumbfast
	url = https://github.com/po5/thumbfast.git
[submodule "ahk/lib/AHK-Macro-Recorder"]
	path = ahk/lib/AHK-Macro-Recorder
	url = https://github.com/raeleus/AHK-Macro-Recorder.git
[submodule "openresty/lib/lua-resty-http"]
	path = openresty/lib/lua-resty-http
	url = https://github.com/ledgetech/lua-resty-http.git
